@import 'colors';
@import 'mixins';
@import 'basic';
@import 'dat';

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');


body {
  overflow: hidden;
  color: $dark;

    font-family: 'Josefin Slab', serif;
    font-size: 1em;
    font-weight: regular;
    letter-spacing: 0.05em;
    line-height: 1em;



  h1,
  button {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1em
  }
}

a {
  color: $white;
}

.board {
  background-color: red;
  height: 100%;
  width: 100%;
}



.canvas {
  width: 100vw;
  height: 100vh; //80vw
}

.header {
  position: absolute;
  width: 100vw;
  height: 80px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1em;
  color: $white;
  z-index : 2;
 
  svg {
    margin-right: 15px;
  }
}

.modal {
  overflow: hidden;
}

