@import 'colors';
@import 'mixins';
@import 'basic';
@import 'dat';

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');


body {
  overflow: hidden;
  background: $white;
  color: $dark;
  p {
    font-family: 'Josefin Slab', serif;
    font-size: 1em;
    font-weight: regular;
    letter-spacing: 0.05em;
    line-height: 1em;
  }


  h1, button {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1em
  }
}

a {
  color: $dark;
}

.header {
height: 60px;
background-color: $main;
color: $dark;
}

.mainDom {
  position: absolute;
  font-size:2em;
  z-index: 1;
  height: 100%;
  width: 40%;
  ul {
    font-size: 0.4em;
  }
}

.dashbd {
  text-align: center;
}

.Keyboard {
position: fixed;
top : 10px;
}

.canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;}
