@import 'colors';
@import 'mixins';
@import 'basic';


body {
  overflow: hidden;
}

.header {
height: 60px;
background-color: crimson;
}

.main {
  position: absolute;
  font-size:8em;
  z-index: 1;
  height: 100%;
  width: 40%;
}

.canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;}
