$dark: #252525;
$white: #FFFFFF;
$main: #00AB9C;
$accent: #FAA912;
$accent2: crimson;
$accent3: #3a4450;
$accent4: #95A5A6;
$darklight: lighten($dark, 10%);
$darklight1: lighten(#dbdbdb, 5%);
$whitedark: darken($white, 10%);
$whitedark0: darken($white, 4%);
