$font-size: 0.9em;
$line-height: 1.5em;
$font-weight: 300;
$font1: 'Roboto', sans-serif;

@mixin style($bgc,$color,$fsize:$font-size,$fweight:$font-weight,$lheight:$line-height,$font:$font1) {
  background-color: $bgc;
  color: $color;
  font-family: $font;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: $fweight;

  a {
    text-decoration: none;
    color: $color;
    display: block;
    cursor: pointer;
  }
}
@mixin box($bgc:$medium, $bc:$dark, $p:0px, $r:0px, $bs: 0px,$c:$dark) {
  background-color: $bgc;
  color: $c;
  border: $bs solid $bc;
  padding: $p;
  border-radius: $r;

  a {
    color: $c;
  }
}
@mixin button($w:4em,$h:auto,$c:$dark,$bg:$medium,$p:10px,$b:solid 0 $white,$br:15px) {
  min-width: $w;
  max-width: 180px;
  height: $h;
  padding: $p;
  background-clip: padding-box;
  border: $b;
  transition: 1s;
  border-radius: $br;
  color: $c;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $bg;
  line-height: $h;
}
@mixin form() {
  label {
    text-align: left;
    margin: 2em 2em 0 0;

    i {
      margin-right: 1em;
      margin-left: 20px;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    max-width: 100px;
    background-color: $accent2;
    color: $white;
  }

  input[type="radio"] {
    cursor: pointer;
  }

  input {
    margin: 1em;
    max-width: 600px;
  }

  button {
    margin: auto;
    max-width: 50px;
    background-color: inherit;
    color: $accent2;
    border: solid thin;
    padding: 5px;
    border-radius: 2px;
  }

  textarea {
    width: 100%;
  }
}
@mixin texte1($s:1em,$w:300,$ls:0.05em,$lh:$line-height) {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: $s;
  font-weight: $w;
  letter-spacing: $ls;
  line-height: $lh;
}
@mixin texte2($s:1em,$w:300,$ls:0.05em,$lh:$line-height) {
  font-family: 'Roboto', sans-serif;
  font-size: $s;
  font-weight: $w;
  letter-spacing: $ls;
  line-height: $lh;
}
@mixin table($j: space-between,$m:1000px) {
  max-width: $m;

  li {
    border-radius: 3px;
    padding: 1em;
    display: flex;
    justify-content: $j;
    margin-bottom: 25px;
    align-items: center;
  }

  .table-header {
    background-color: $medium;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  }
}
@mixin input ($b:$medium,$p:2px,$m:5px 5px 15px 0px,$s:1em,$w:90%) {
  background-color: $b;
  padding: $p;
  margin: $m;
  font-size: $s;
  text-align: left;
  border: none;
  width: $w;
}
